/* common css */
body{
    
    font-family: 'Manrope', sans-serif;
    color: #ffffff;
    background: #171D32
    
}


/* hrader area start  */


.header-bg{
    background: #000;
    padding: 138px 0;
    position: relative;
}



h1{
    font-family: 'Berkshire Swash', cursive;
    font-weight: 400;
    font-size: 76px;
    line-height: 94px;
    text-align: center;
    text-transform: capitalize;
    color: #FF5E19;
    margin-bottom: 28px;
}



.header-bg p{
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: -0.02em;
color: #FFFFFF;
}

.left-img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.right-img {
    position: absolute;
    top: 79px;
    right: 103px;
}
/*-------
 hrader area start 
 ---------- */

/* player list */

.section-pading{
    padding-top: 75px;
    padding-bottom:145px ;
}

.card-bg{
    background: #0D0D0D;
    border: 1px solid #434343;
}

h5.card-title {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 8px;
}

p.card-text {
    color: #B3B3B3;
    font-weight: 400;
    font-size: 16px;
}

small.text-first {
    margin-right: 10px;
}

small.text-lest {
    margin-left: 10px;
}

button.btn {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    background: #015196;
    padding: 10px 80px;
}
button.btn:hover{
    color: #ffffff;
}

/*-----
 player list 
 ----------*/


/* right side amount */

.select-area {
    height: 386px;
}

.text-sesect{
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    
}

.order-list{
    margin-top: 55px;
}

.order-list li{
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #FFFFFF;
    padding-left: 11px;
}

.single-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

input.rightsite{
    text-align: left;
}

.rightsite {
    width: 101px;
    text-align: right;
}

.select-budget button{
    margin-bottom: 18px;
}
.colot-text{
    color: #FF5E19;
}

/* ----------
right side amount 
------------*/

.footer-text{
    padding: 45px 0;
}


/* ---------------
responsive css 
----------------*/

/*  Large devices (desktops, less than 1200px) */


@media (max-width: 1199.98px) and (min-width: 991.98px) { 

    .left-img img {
        width: 190px
   
    }

    .right-img {
        right: 0;
    }
    /* player list  */

    h5.card-title {
        font-size: 22px;
    }
 
    button.btn {
        padding: 10px 53px;
    }


}

@media  (max-width: 991px) { 
    .left-img  {
        display: none;
   
    }

    .right-img {
        display: none;
    }
}

/*  Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    
    h1 {
        font-size: 50px;
        line-height: 68px;
        margin-bottom: 24px;
    }

    .header-bg {
        padding: 50px 0;
    }

    .header-bg p {
        font-size: 15px;
        line-height: 23px;
    }

}
