body{
    
    font-family: 'Manrope', sans-serif;
    color: #ffffff;
    background: #171D32
    
}
h1{
    font-family: 'Berkshire Swash', cursive;
}





.header-bg{
    background: #000;
    padding: 138px 0;
}